
* {
    margin: 0;
    padding: 0;
}

/* Scrollbar styling */
body::-webkit-scrollbar {
    /* display: none; */
    width: 10px;
    background-color: #16D7BE;

}

body::-webkit-scrollbar-track {
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(117, 117, 117);
    border-radius: 10px;
    outline: none;
}

/* Parallax container */
.parallax {
    min-height: 100dvh;
    display: grid;
    /* There is only one square in the middle */
    grid-template-areas: "stack"; 
}

.parallax > * {
    grid-area: stack;
    /* Animation */
    animation: parallax linear 500ms;
    animation-timeline: scroll();
}

img {
    width: 100%;
}

/* Z-index: the bigger the more superficial */
.background {
    z-index: 0;
}

.white_clouds {
    z-index: 1;
}

.yellow_clouds {
    z-index: 2;
}

/* Animation */
@keyframes parallax {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(calc(var(--speed) * 500px));
    }
}


/* Set speed */
.white_clouds {
    --speed: 5;
}

.yellow_clouds {
    --speed: 2;
}